<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbMw9MrpFo4pTK1tROIvv2kCwLUS9Yhhg</string>
	<key>GCM_SENDER_ID</key>
	<string>68756648365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>muxx.ex-recovery-app</string>
	<key>PROJECT_ID</key>
	<string>ex-recovery-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ex-recovery-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68756648365:ios:ed210d079de7c1a7097124</string>
</dict>
</plist>